html {
  background-image: url("./kids-health-large.jpg");
  position: relative;
  background-repeat: repeat-y;
  background-size: cover;
}

body {
  height: 100vh;
  min-height: 20em;
  min-width: 20em;
  letter-spacing: 0.1em;
}



.btn:hover {
  cursor: pointer;
  background-color: darkslategray;
  color: white;
}


@media (max-width: 600px) {
  html {
      font-size: 12px;
  }
  form {
      margin: 0;
      width: 80vw;
  }
  form fieldset {
      margin: 0;
      width: 100%;
  }
  textarea {
      width: 100%;
  }
  div.articles {
      max-height: 15em;
  }
  footer {
      position: unset;
  }
}
