.header {
    background-color: rgb(231, 122, 19);
    color: white;
    width: 100%
}

.header {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
    
}

.header:hover {
    opacity: 0.9;
}

.header h1 {
    flex: 1 1 15px;
}

.header nav {
    margin: auto 1em;
}

.nav-buttons>a:hover {
    cursor: pointer;
    color: rgb(242, 245, 97);
    font-weight: bolder;
}

.home:hover {
    color: rgb(242, 245, 97);
}